NVIDIA_API_KEY=
GEMINI_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=https://tvvqdqwjrmkopwchpkxc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=afterdark-665df.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=afterdark-665df
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=afterdark-665df.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1089116096059
NEXT_PUBLIC_FIREBASE_APP_ID=1:1089116096059:web:bea309e3c4a3873e5cbe1
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-F5VP8WWNEN

NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
RESEND_API_KEY=
EMAIL_FROM=
